<ion-header>
  <ion-toolbar>
    <ion-title>
      Machina Artem - Experiment 03
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img id="content" class="image" crossorigin="anonymous" src="https://cdn.glitch.com/93893683-46da-4058-829c-a05792722f2b%2Fcontent.jpg?1545163443723"/> 
  <img id="style" class="image" crossorigin="anonymous" src="https://cdn.glitch.com/93893683-46da-4058-829c-a05792722f2b%2Fstyle.jpg?1545163447216" />
  <canvas id="stylized" height="250px"></canvas>
</ion-content>
